# Test with dummy data

In [ ]:
import pandas as pd
import numpy as np

# Generate a sample dataset with missing values
np.random.seed(42)
n_samples = 1000
n_features = 10

data = np.random.randn(n_samples, n_features)
missing_mask = np.random.rand(n_samples, n_features) < 0.2  # 20% missing values
data[missing_mask] = np.nan

# Create a DataFrame
columns = [f'feature_{i}' for i in range(n_features)]
df = pd.DataFrame(data, columns=columns)

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.layers import Input, Dense
from keras.models import Model

In [ ]:
import pandas as pd
import numpy as np

# Generate a sample dataset with missing values
np.random.seed(42)
n_samples = 1000
n_features = 10
missing_percentage = 20  # Adjust the percentage of missing values

data = np.random.randn(n_samples, n_features)
missing_mask = np.random.rand(n_samples, n_features) < missing_percentage / 100
data[missing_mask] = np.nan

# Create a DataFrame
columns = [f'feature_{i}' for i in range(n_features)]
df = pd.DataFrame(data, columns=columns)

In [ ]:
# Generate a sample dataset with missing values
np.random.seed(42)
n_samples = 1000
n_features = 10
n_complete_rows = 800  # Number of rows without missing values

data = np.random.randn(n_samples, n_features)
complete_rows_indices = np.random.choice(n_samples, size=n_complete_rows, replace=False)
missing_mask = np.ones((n_samples, n_features), dtype=bool)
missing_mask[complete_rows_indices] = False
data[missing_mask] = np.nan
columns = [f'feature_{i}' for i in range(n_features)]
df = pd.DataFrame(data, columns=columns)

In [ ]:
train_ne = df.dropna()

In [ ]:
train_ne_missing = train_ne.copy()
train_ne_missing.loc[train_ne_missing['feature_9'] < 0.2, 'feature_9'] = np.nan
train_ne_missing_filter_for_train = train_ne_missing.dropna()
train_ne_missing_filter_for_test = train_ne_missing[train_ne_missing['feature_9'].isnull()]
train_ne_missing_filter_for_test
# Remove rows with missing values
df_complete = train_ne_missing_filter_for_train.copy()

# Split the dataset into training and validation sets
train_df, val_df = train_test_split(df_complete, test_size=0.1, random_state=42)

# Normalize the data
scaler = StandardScaler()
train_data = scaler.fit_transform(train_df.values)
val_data = scaler.transform(val_df.values)

# Autoencoder architecture
input_dim = train_data.shape[1]
encoding_dim = 5  # Adjust the size of the encoding layer

input_layer = Input(shape=(input_dim,))
encoder = Dense(encoding_dim, activation='relu')(input_layer)
decoder = Dense(input_dim, activation='linear')(encoder)

autoencoder = Model(inputs=input_layer, outputs=decoder)

# Compile the model
autoencoder.compile(optimizer='adam', loss='mean_squared_error')

# Train the autoencoder on non-missing values
autoencoder.fit(train_data, train_data, epochs=50, batch_size=32, validation_data=(val_data, val_data))

# Predict missing values using the trained autoencoder
imputed_data = autoencoder.predict(val_data)

# Convert imputed values back to the original scale
imputed_data = scaler.inverse_transform(imputed_data)

# Display imputed values
imputed_df = pd.DataFrame(imputed_data, columns=val_df.columns)
print(imputed_df)
train_ne_missing_filter_for_test
train_ne_missing_filter_for_test.loc[train_ne_missing_filter_for_test['feature_8'] < 0,'feature_9'] = np.random.rand()
train_ne_missing_filter_for_test

test_df = scaler.transform(train_ne_missing_filter_for_test.values)
imputed_data_for_test = autoencoder.predict(test_df)

# Convert imputed values back to the original scale
imputed_data_for_test = scaler.inverse_transform(imputed_data_for_test)

# Display imputed values
imputed_df = pd.DataFrame(imputed_data_for_test, columns=val_df.columns)
print(imputed_df)

# Apply for real-dataset

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.layers import Input, Dense
from keras.models import Model

/data/data_science/envs_python/dungpa/py39/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
2023-08-29 06:53:41.745829: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-08-29 06:53:41.951857: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-08-29 06:53:45.265576: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-08-29 06:53:45.273977: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-08-29 06:54:07.508112: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [78]:
import sys
sys.path.append('/home/dungpa/club_churn_predictionn/')
import Configurations.paths as paths

In [97]:
df = pd.read_excel(paths.RAW_DATA + "/club_churn_train.xlsx")

In [98]:
df.head()

,ID,MEMBERSHIP_NUMBER,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,AGENT_CODE,START_DATE,END_DATE,MEMBERSHIP_STATUS
0,5944.0,A05948,12.0,100000.00,NaN,M,399996.0,1.0,TYPE-B,43.0,2.0,ANNUAL,1194400.0,20110929.0,20121119.0,CANCELLED
1,5487.0,A05490,17.0,100514.23,M,F,549996.0,1.0,TYPE-A,40.0,2.0,ANNUAL,739244.0,20110311.0,20120410.0,CANCELLED
2,9089.0,A09094,12.0,100000.80,M,M,1299996.0,1.0,TYPE-B,40.0,2.0,MONTHLY,1341388.0,20130625.0,NaN,INFORCE
3,5338.0,A05341,12.0,100000.99,M,M,500004.0,1.0,TYPE-B,50.0,3.0,ANNUAL,261533.0,20110203.0,20120328.0,CANCELLED
4,8163.0,A08168,12.0,200001.60,NaN,M,499992.0,2.0,TYPE-B,45.0,2.0,MONTHLY,1355055.0,20130228.0,20130727.0,CANCELLED

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9325 entries, 0 to 9324
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     9325 non-null   float64
 1   MEMBERSHIP_NUMBER      9325 non-null   object
 2   MEMBERSHIP_TERM_YEARS  9325 non-null   float64
 3   ANNUAL_FEES            9325 non-null   float64
 4   MEMBER_MARITAL_STATUS  6942 non-null   object
 5   MEMBER_GENDER          8763 non-null   object
 6   MEMBER_ANNUAL_INCOME   7716 non-null   float64
 7   MEMBER_OCCUPATION_CD   9284 non-null   float64
 8   MEMBERSHIP_PACKAGE     9325 non-null   object
 9   MEMBER_AGE_AT_ISSUE    9325 non-null   float64
 10  ADDITIONAL_MEMBERS     9325 non-null   float64
 11  PAYMENT_MODE           9325 non-null   object
 12  AGENT_CODE             9325 non-null   object
 13  START_DATE             9325 non-null   float64
 14  END_DATE               2830 non-null   float64
 15  MEMBERSHIP_STATUS      9325 non-null   object
dtypes: float64(9), object(7)
memory usage: 1.1+ MB

In [100]:
df.isnull().sum()

ID                          0
MEMBERSHIP_NUMBER           0
MEMBERSHIP_TERM_YEARS       0
ANNUAL_FEES                 0
MEMBER_MARITAL_STATUS    2383
MEMBER_GENDER             562
MEMBER_ANNUAL_INCOME     1609
MEMBER_OCCUPATION_CD       41
MEMBERSHIP_PACKAGE          0
MEMBER_AGE_AT_ISSUE         0
ADDITIONAL_MEMBERS          0
PAYMENT_MODE                0
AGENT_CODE                  0
START_DATE                  0
END_DATE                 6495
MEMBERSHIP_STATUS           0
dtype: int64

In [101]:
agent_customer_counts = df['AGENT_CODE'].value_counts()
updated_agent_performance_groups = agent_customer_counts.map(lambda x: '1 customer' if x == 1 else
                                                            '1-5 customers' if 1 < x <= 5 else
                                                            '5-15 customers' if 5 < x <= 15 else
                                                            '>15 customers')
df['UPDATED_AGENT_PERFORMANCE'] = df['AGENT_CODE'].map(updated_agent_performance_groups)

In [102]:
df.head()

,ID,MEMBERSHIP_NUMBER,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,AGENT_CODE,START_DATE,END_DATE,MEMBERSHIP_STATUS,UPDATED_AGENT_PERFORMANCE
0,5944.0,A05948,12.0,100000.00,NaN,M,399996.0,1.0,TYPE-B,43.0,2.0,ANNUAL,1194400.0,20110929.0,20121119.0,CANCELLED,1-5 customers
1,5487.0,A05490,17.0,100514.23,M,F,549996.0,1.0,TYPE-A,40.0,2.0,ANNUAL,739244.0,20110311.0,20120410.0,CANCELLED,5-15 customers
2,9089.0,A09094,12.0,100000.80,M,M,1299996.0,1.0,TYPE-B,40.0,2.0,MONTHLY,1341388.0,20130625.0,NaN,INFORCE,1 customer
3,5338.0,A05341,12.0,100000.99,M,M,500004.0,1.0,TYPE-B,50.0,3.0,ANNUAL,261533.0,20110203.0,20120328.0,CANCELLED,1 customer
4,8163.0,A08168,12.0,200001.60,NaN,M,499992.0,2.0,TYPE-B,45.0,2.0,MONTHLY,1355055.0,20130228.0,20130727.0,CANCELLED,1-5 customers

In [103]:
df['START_DATE'] = pd.to_datetime(df['START_DATE'], format='%Y%m%d', errors='coerce')
df['END_DATE'] = pd.to_datetime(df['END_DATE'], format='%Y%m%d', errors='coerce')

# Extract year, month, and day from START_DATE and END_DATE
df['START_YEAR'] = df['START_DATE'].dt.year
df['START_MONTH'] = df['START_DATE'].dt.month
df['START_DAY'] = df['START_DATE'].dt.day


# Encoding the target variable
df['TARGET'] = df['MEMBERSHIP_STATUS'].apply(lambda x: 1 if x == 'CANCELLED' else 0)

# Drop columns that won't be used for model training
df.drop(columns=['ID', 'MEMBERSHIP_NUMBER', 'START_DATE', 'END_DATE', 'MEMBERSHIP_STATUS', 'AGENT_CODE'], inplace=True)

df.head()

,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,UPDATED_AGENT_PERFORMANCE,START_YEAR,START_MONTH,START_DAY,TARGET
0,12.0,100000.00,NaN,M,399996.0,1.0,TYPE-B,43.0,2.0,ANNUAL,1-5 customers,2011,9,29,1
1,17.0,100514.23,M,F,549996.0,1.0,TYPE-A,40.0,2.0,ANNUAL,5-15 customers,2011,3,11,1
2,12.0,100000.80,M,M,1299996.0,1.0,TYPE-B,40.0,2.0,MONTHLY,1 customer,2013,6,25,0
3,12.0,100000.99,M,M,500004.0,1.0,TYPE-B,50.0,3.0,ANNUAL,1 customer,2011,2,3,1
4,12.0,200001.60,NaN,M,499992.0,2.0,TYPE-B,45.0,2.0,MONTHLY,1-5 customers,2013,2,28,1

In [105]:
df_encoded = df.copy()

placeholder = "NaNPlaceholder"
label_encoders = {}

for col in categorical_cols:
    # Replace np.nan with a placeholder
    df_encoded[col] = df_encoded[col].fillna(placeholder)

In [110]:
from sklearn.preprocessing import LabelEncoder
categorical_cols = ['MEMBER_MARITAL_STATUS', 'MEMBER_GENDER', 'UPDATED_AGENT_PERFORMANCE', 'MEMBERSHIP_PACKAGE', 'PAYMENT_MODE']
df_encoded = df.copy()

placeholder = "NaNPlaceholder"
label_encoders = {}

for col in categorical_cols:
    # Replace np.nan with a placeholder
    df_encoded[col] = df_encoded[col].fillna(placeholder)
    
    le = LabelEncoder()
    df_encoded[col] = le.fit_transform(df_encoded[col])
    
    # Store the encoder
    label_encoders[col] = le
    
    # Replace the encoded placeholder with np.nan
    if placeholder in le.classes_:
        df_encoded[col].replace(le.transform([placeholder])[0], np.nan, inplace=True)

df_encoded

,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,UPDATED_AGENT_PERFORMANCE,START_YEAR,START_MONTH,START_DAY,TARGET
0,12.0,100000.00,NaN,1.0,399996.0,1.0,1,43.0,2.0,0,1,2011,9,29,1
1,17.0,100514.23,1.0,0.0,549996.0,1.0,0,40.0,2.0,0,2,2011,3,11,1
2,12.0,100000.80,1.0,1.0,1299996.0,1.0,1,40.0,2.0,1,0,2013,6,25,0
3,12.0,100000.99,1.0,1.0,500004.0,1.0,1,50.0,3.0,0,0,2011,2,3,1
4,12.0,200001.60,NaN,1.0,499992.0,2.0,1,45.0,2.0,1,1,2013,2,28,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9320,59.0,100514.79,1.0,1.0,600000.0,1.0,0,46.0,1.0,0,2,2011,4,28,1
9321,68.0,101550.00,1.0,1.0,999996.0,1.0,0,36.0,3.0,0,1,2010,12,31,1
9322,12.0,500000.00,1.0,1.0,399996.0,5.0,1,36.0,3.0,0,0,2011,2,25,0
9323,63.0,100000.00,3.0,0.0,336000.0,1.0,1,19.0,0.0,3,3,2008,10,13,1
9324,17.0,101546.76,1.0,0.0,600000.0,1.0,0,46.0,3.0,1,3,2012,8,21,0

In [111]:
df.isnull().sum()

MEMBERSHIP_TERM_YEARS           0
ANNUAL_FEES                     0
MEMBER_MARITAL_STATUS        2383
MEMBER_GENDER                 562
MEMBER_ANNUAL_INCOME         1609
MEMBER_OCCUPATION_CD           41
MEMBERSHIP_PACKAGE              0
MEMBER_AGE_AT_ISSUE             0
ADDITIONAL_MEMBERS              0
PAYMENT_MODE                    0
UPDATED_AGENT_PERFORMANCE       0
START_YEAR                      0
START_MONTH                     0
START_DAY                       0
TARGET                          0
dtype: int64

In [115]:
df_encoded.isnull().sum()

MEMBERSHIP_TERM_YEARS           0
ANNUAL_FEES                     0
MEMBER_MARITAL_STATUS        2383
MEMBER_GENDER                 562
MEMBER_ANNUAL_INCOME         1609
MEMBER_OCCUPATION_CD           41
MEMBERSHIP_PACKAGE              0
MEMBER_AGE_AT_ISSUE             0
ADDITIONAL_MEMBERS              0
PAYMENT_MODE                    0
UPDATED_AGENT_PERFORMANCE       0
START_YEAR                      0
START_MONTH                     0
START_DAY                       0
TARGET                          0
dtype: int64

In [57]:
train_ne_missing = train_ne.copy()
train, test = train_test_split(train_ne_missing, random_state=42, test_size=0.2)

In [58]:
frac = 0.5  # Number of random indices to select
random_indices = test.sample(frac=frac).index.tolist()

test.loc[random_indices, 'MEMBER_GENDER'] = np.nan

In [70]:
# Split the dataset into training and validation sets
train_df, val_df = train_test_split(train, test_size=0.1, random_state=42)

# Normalize the data
scaler = StandardScaler()
train_data = scaler.fit_transform(train_df.values)
val_data = scaler.transform(val_df.values)

# Autoencoder architecture
input_dim = train_data.shape[1]
encoding_dim = 5  # Adjust the size of the encoding layer

input_layer = Input(shape=(input_dim,))
encoder = Dense(encoding_dim, activation='relu')(input_layer)
decoder = Dense(input_dim, activation='linear')(encoder)

autoencoder = Model(inputs=input_layer, outputs=decoder)

# Compile the model
autoencoder.compile(optimizer='adam', loss='binary_crossentropy')

# Train the autoencoder on non-missing values
autoencoder.fit(train_data, train_data, epochs=50, batch_size=32, validation_data=(val_data, val_data))

Epoch 1/50
147/147 [==============================] - 12s 39ms/step - loss: -0.2721 - val_loss: -0.7157
Epoch 2/50
147/147 [==============================] - 3s 21ms/step - loss: -0.8125 - val_loss: -1.1125
Epoch 3/50
147/147 [==============================] - 4s 25ms/step - loss: -1.1452 - val_loss: -1.3528
Epoch 4/50
147/147 [==============================] - 3s 18ms/step - loss: -1.3232 - val_loss: -1.4237
Epoch 5/50
147/147 [==============================] - 3s 17ms/step - loss: -1.4061 - val_loss: -1.5758
Epoch 6/50
147/147 [==============================] - 3s 22ms/step - loss: -1.5496 - val_loss: -1.7039
Epoch 7/50
147/147 [==============================] - 4s 25ms/step - loss: -1.6260 - val_loss: -1.7406
Epoch 8/50
147/147 [==============================] - 3s 21ms/step - loss: -1.6924 - val_loss: -1.8612
Epoch 9/50
147/147 [==============================] - 3s 22ms/step - loss: -1.8038 - val_loss: -1.9681
Epoch 10/50
147/147 [==============================] - 3s 22ms/step - loss: -1.8767 - val_loss: -2.0449
Epoch 11/50
147/147 [==============================] - 4s 27ms/step - loss: -1.9630 - val_loss: -2.0865
Epoch 12/50
147/147 [==============================] - 3s 18ms/step - loss: -2.0243 - val_loss: -2.1535
Epoch 13/50
147/147 [==============================] - 3s 19ms/step - loss: -2.1112 - val_loss: -2.2080
Epoch 14/50
147/147 [==============================] - 2s 15ms/step - loss: -2.1527 - val_loss: -2.2308
Epoch 15/50
147/147 [==============================] - 3s 18ms/step - loss: -2.2401 - val_loss: -2.2957
Epoch 16/50
147/147 [==============================] - 2s 17ms/step - loss: -2.3038 - val_loss: -2.3669
Epoch 17/50
147/147 [==============================] - 1s 6ms/step - loss: -2.3582 - val_loss: -2.4334
Epoch 18/50
147/147 [==============================] - 2s 12ms/step - loss: -2.3938 - val_loss: -2.4789
Epoch 19/50
147/147 [==============================] - 4s 24ms/step - loss: -2.4237 - val_loss: -2.4636
Epoch 20/50
147/147 [==============================] - 2s 13ms/step - loss: -2.4684 - val_loss: -2.5156
Epoch 21/50
147/147 [==============================] - 2s 15ms/step - loss: -2.5282 - val_loss: -2.5708
Epoch 22/50
147/147 [==============================] - 2s 13ms/step - loss: -2.5578 - val_loss: -2.5380
Epoch 23/50
147/147 [==============================] - 3s 22ms/step - loss: -2.5656 - val_loss: -2.6073
Epoch 24/50
147/147 [==============================] - 3s 21ms/step - loss: -2.6105 - val_loss: -2.6440
Epoch 25/50
147/147 [==============================] - 4s 29ms/step - loss: -2.6295 - val_loss: -2.6703
Epoch 26/50
147/147 [==============================] - 1s 7ms/step - loss: -2.6482 - val_loss: -2.6972
Epoch 27/50
147/147 [==============================] - 3s 18ms/step - loss: -2.6842 - val_loss: -2.7086
Epoch 28/50
147/147 [==============================] - 3s 20ms/step - loss: -2.7112 - val_loss: -2.7427
Epoch 29/50
147/147 [==============================] - 2s 15ms/step - loss: -2.7515 - val_loss: -2.7814
Epoch 30/50
147/147 [==============================] - 3s 19ms/step - loss: -2.7892 - val_loss: -2.8186
Epoch 31/50
147/147 [==============================] - 2s 11ms/step - loss: -2.8144 - val_loss: -2.8573
Epoch 32/50
147/147 [==============================] - 5s 36ms/step - loss: -2.8667 - val_loss: -2.9014
Epoch 33/50
147/147 [==============================] - 5s 31ms/step - loss: -2.9172 - val_loss: -2.9623
Epoch 34/50
147/147 [==============================] - 2s 14ms/step - loss: -2.9475 - val_loss: -2.9902
Epoch 35/50
147/147 [==============================] - 3s 18ms/step - loss: -2.9811 - val_loss: -3.0087
Epoch 36/50
147/147 [==============================] - 3s 21ms/step - loss: -2.9737 - val_loss: -3.0069
Epoch 37/50
147/147 [==============================] - 4s 28ms/step - loss: -2.9946 - val_loss: -3.0426
Epoch 38/50
147/147 [==============================] - 4s 27ms/step - loss: -3.0340 - val_loss: -3.0599
Epoch 39/50
147/147 [==============================] - 1s 10ms/step - loss: -3.0616 - val_loss: -3.0871
Epoch 40/50
147/147 [==============================] - 2s 16ms/step - loss: -3.0925 - val_loss: -3.1442
Epoch 41/50
147/147 [==============================] - 4s 28ms/step - loss: -3.1200 - val_loss: -3.1670
Epoch 42/50
147/147 [==============================] - 2s 16ms/step - loss: -3.1456 - val_loss: -3.1965
Epoch 43/50
147/147 [==============================] - 3s 19ms/step - loss: -3.1684 - val_loss: -3.2044
Epoch 44/50
147/147 [==============================] - 1s 9ms/step - loss: -3.1899 - val_loss: -3.2423
Epoch 45/50
147/147 [==============================] - 3s 21ms/step - loss: -3.2017 - val_loss: -3.2389
Epoch 46/50
147/147 [==============================] - 3s 18ms/step - loss: -3.2343 - val_loss: -3.2476
Epoch 47/50
147/147 [==============================] - 3s 19ms/step - loss: -3.2226 - val_loss: -3.2576
Epoch 48/50
147/147 [==============================] - 4s 24ms/step - loss: -3.2369 - val_loss: -3.3021
Epoch 49/50
147/147 [==============================] - 3s 22ms/step - loss: -3.2818 - val_loss: -3.3214
Epoch 50/50
147/147 [==============================] - 4s 26ms/step - loss: -3.2982 - val_loss: -3.3273

In [71]:
test.isnull().sum()

MEMBERSHIP_TERM_YEARS            0
ANNUAL_FEES                      0
MEMBER_MARITAL_STATUS            0
MEMBER_GENDER                  650
MEMBER_ANNUAL_INCOME             0
MEMBER_OCCUPATION_CD             0
MEMBER_AGE_AT_ISSUE              0
ADDITIONAL_MEMBERS               0
UPDATED_AGENT_PERFORMANCE        0
START_YEAR                       0
START_MONTH                      0
START_DAY                        0
TARGET                           0
MEMBERSHIP_PACKAGE_TYPE-A        0
MEMBERSHIP_PACKAGE_TYPE-B        0
PAYMENT_MODE_ANNUAL              0
PAYMENT_MODE_MONTHLY             0
PAYMENT_MODE_QUARTERLY           0
PAYMENT_MODE_SEMI-ANNUAL         0
PAYMENT_MODE_SINGLE-PREMIUM      0
dtype: int64

In [72]:
test_df = scaler.transform(test.values)
imputed_data_for_test = autoencoder.predict(test_df)

# Convert imputed values back to the original scale
imputed_data_for_test = scaler.inverse_transform(imputed_data_for_test)

# Display imputed values
imputed_df = pd.DataFrame(imputed_data_for_test, columns=val_df.columns)

41/41 [==============================] - 1s 12ms/step

In [73]:
imputed_df

,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,UPDATED_AGENT_PERFORMANCE,START_YEAR,START_MONTH,START_DAY,TARGET,MEMBERSHIP_PACKAGE_TYPE-A,MEMBERSHIP_PACKAGE_TYPE-B,PAYMENT_MODE_ANNUAL,PAYMENT_MODE_MONTHLY,PAYMENT_MODE_QUARTERLY,PAYMENT_MODE_SEMI-ANNUAL,PAYMENT_MODE_SINGLE-PREMIUM
0,15.286488,73590.023438,0.841780,0.792000,-1.512357e+06,1.237770,39.041615,1.827101,0.306300,2009.502808,5.115473,21.163742,0.284530,-0.288693,1.008253,0.815270,0.012424,-0.259516,0.115816,-0.004297
1,23.787107,101688.687500,1.236391,0.857455,5.098042e+05,1.281370,39.764446,1.371421,1.402500,2010.581177,6.744634,22.222912,0.385055,0.302095,0.752684,0.602735,0.132185,0.105570,0.133240,-0.020447
2,23.516069,147256.031250,1.244094,0.787085,3.258042e+05,1.075836,42.322197,1.514578,1.292710,2010.347534,5.724349,21.776859,0.428968,0.231658,0.810895,0.675470,0.180760,0.043503,0.046957,-0.012904
3,18.301317,49534.515625,0.743209,0.871598,-2.283702e+06,1.363739,37.551304,1.765600,0.270038,2009.290405,5.997780,19.918659,0.211562,-0.234472,0.921854,0.582325,0.197153,-0.232246,0.255739,-0.011278
4,21.320045,-24178.429688,0.833555,0.817928,-2.405170e+06,1.576365,40.054447,1.518898,0.087642,2009.319580,5.761120,19.397074,0.376197,-0.321157,0.968926,0.588510,0.061453,-0.134510,0.472810,-0.006106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296,24.845808,134077.703125,1.224434,0.802351,4.457880e+04,1.129753,42.309319,1.473265,1.254974,2010.282227,5.918223,21.244034,0.427482,0.241513,0.788831,0.601539,0.232636,0.061729,0.114303,-0.014241
1297,1.995580,175165.062500,1.256194,0.761924,-3.101161e+05,1.490527,38.747955,1.651481,1.004201,2014.460938,4.195656,16.523930,0.276948,1.337521,0.383450,0.593930,0.494194,0.059354,0.189494,-0.038382
1298,20.397120,178166.281250,1.290208,0.751278,9.854286e+05,0.949373,42.352406,1.611481,1.381222,2010.500854,5.269613,23.026619,0.432453,0.208542,0.862647,0.848877,0.059084,0.000754,-0.111004,-0.009767
1299,17.954695,139280.062500,1.117246,0.999652,1.741197e+06,1.172437,32.271019,1.582935,1.835541,2010.466797,8.307659,26.090504,0.113357,0.262112,0.757859,0.748403,-0.034826,-0.012141,-0.212761,-0.030608
1300,-5.374219,303590.968750,1.025301,0.871526,3.779547e+05,1.024751,32.355587,2.208289,1.318401,2013.791504,4.832772,19.826830,-0.071848,1.205892,0.435545,0.773259,0.509421,-0.218429,-0.358820,-0.042768

In [74]:
test

,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,UPDATED_AGENT_PERFORMANCE,START_YEAR,START_MONTH,START_DAY,TARGET,MEMBERSHIP_PACKAGE_TYPE-A,MEMBERSHIP_PACKAGE_TYPE-B,PAYMENT_MODE_ANNUAL,PAYMENT_MODE_MONTHLY,PAYMENT_MODE_QUARTERLY,PAYMENT_MODE_SEMI-ANNUAL,PAYMENT_MODE_SINGLE-PREMIUM
8052,27.0,100000.00,1,1.0,999996.0,1.0,48.0,1.0,0,2010,2,25,0,0,1,1,0,0,0,0
4556,59.0,100000.00,1,1.0,500004.0,1.0,36.0,2.0,3,2010,1,25,0,0,1,0,0,1,0,0
8986,27.0,100000.00,2,1.0,300000.0,1.0,20.0,0.0,1,2010,3,4,1,0,1,1,0,0,0,0
314,43.0,100000.00,1,1.0,1200000.0,1.0,41.0,1.0,0,2008,6,2,0,0,1,1,0,0,0,0
3358,12.0,100000.00,2,1.0,999996.0,1.0,34.0,0.0,0,2010,2,16,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053,17.0,103999.96,1,NaN,699996.0,1.0,34.0,1.0,0,2010,8,31,0,0,1,0,0,1,0,0
3719,27.0,178221.96,2,0.0,399996.0,1.0,60.0,0.0,3,2013,7,17,0,1,0,0,1,0,0,0
7540,61.0,100000.00,1,1.0,498996.0,1.0,34.0,1.0,1,2010,3,31,1,0,1,1,0,0,0,0
4995,12.0,100000.00,1,1.0,594996.0,1.0,45.0,1.0,2,2010,12,20,0,0,1,1,0,0,0,0
2333,62.0,120000.43,1,1.0,480000.0,1.0,42.0,3.0,0,2013,6,25,0,1,0,1,0,0,0,0

In [ ]:
import numpy as np

def matrix_factorization(R, K, steps=5000, alpha=0.0002, beta=0.02):
    """
    R: Original matrix with missing values represented as NaN
    K: Number of latent features
    steps: Number of iterations
    alpha: Learning rate
    beta: Regularization parameter
    """
    
    # Mask matrix to ignore NaN values during the update
    mask = np.isnan(R)
    
    # Fill NaN values with zeros in the original matrix
    R_filled = np.nan_to_num(R)
    
    # Initialize user and item matrices with random values
    num_users, num_items = R.shape
    U = np.random.rand(num_users, K)
    V = np.random.rand(num_items, K)
    
    # SGD to minimize error
    for step in range(steps):
        for i in range(num_users):
            for j in range(num_items):
                if not mask[i][j]:  # if not a NaN value
                    error_ij = R_filled[i][j] - np.dot(U[i, :], V[j, :].T)
                    for k in range(K):
                        U[i][k] += alpha * (2 * error_ij * V[j][k] - beta * U[i][k])
                        V[j][k] += alpha * (2 * error_ij * U[i][k] - beta * V[j][k])
    
    # Reconstructed matrix
    R_hat = np.dot(U, V.T)
    return R_hat

# Sample matrix with missing values represented as NaN
R = np.array([
    [5, 3, np.nan, 1],
    [4, np.nan, np.nan, 1],
    [1, 1, np.nan, 5],
    [1, np.nan, np.nan, 4],
    [np.nan, 1, 5, 4],
])

# Factorize and fill missing values
R_filled = matrix_factorization(R, K=2)

R_filled

array([[5.05933781, 2.74875266, 5.45901499, 0.99809567],
       [3.91938087, 2.13029821, 4.34866199, 1.00084914],
       [1.12839973, 0.63156031, 3.71174754, 4.96767245],
       [0.93938431, 0.52515887, 3.00770284, 3.97898134],
       [2.78790729, 1.52822731, 4.83513834, 4.02572509]])

In [77]:
R_rounded = np.round(R_filled)
R_rounded

array([[5., 3., 5., 1.],
       [4., 2., 4., 1.],
       [1., 1., 4., 5.],
       [1., 1., 3., 4.],
       [3., 2., 5., 4.]])

In [ ]:
import numpy as np

def matrix_factorization(R, K, steps=5000, alpha=0.0002, beta=0.02):
    """
    R: Original matrix with missing values represented as NaN
    K: Number of latent features
    steps: Number of iterations
    alpha: Learning rate
    beta: Regularization parameter
    """
    
    # Mask matrix to ignore NaN values during the update
    mask = np.isnan(R)
    
    # Fill NaN values with zeros in the original matrix
    R_filled = np.nan_to_num(R)
    
    # Initialize user and item matrices with random values
    num_users, num_items = R.shape
    U = np.random.rand(num_users, K)
    V = np.random.rand(num_items, K)
    
    # SGD to minimize error
    for step in range(steps):
        for i in range(num_users):
            for j in range(num_items):
                if not mask[i][j]:  # if not a NaN value
                    error_ij = R_filled[i][j] - np.dot(U[i, :], V[j, :].T)
                    for k in range(K):
                        U[i][k] += alpha * (2 * error_ij * V[j][k] - beta * U[i][k])
                        V[j][k] += alpha * (2 * error_ij * U[i][k] - beta * V[j][k])
    
    # Reconstructed matrix
    R_hat = np.dot(U, V.T)
    return R_hat

# Sample matrix with missing values represented as NaN
R = df_encoded.values

# Factorize and fill missing values
R_filled = matrix_factorization(R, K=2)

R_filled

/tmp/ipykernel_25726/3419149518.py:31: RuntimeWarning: overflow encountered in scalar multiply
  V[j][k] += alpha * (2 * error_ij * U[i][k] - beta * V[j][k])
/tmp/ipykernel_25726/3419149518.py:30: RuntimeWarning: overflow encountered in scalar multiply
  U[i][k] += alpha * (2 * error_ij * V[j][k] - beta * U[i][k])
/tmp/ipykernel_25726/3419149518.py:30: RuntimeWarning: invalid value encountered in scalar add
  U[i][k] += alpha * (2 * error_ij * V[j][k] - beta * U[i][k])
/tmp/ipykernel_25726/3419149518.py:31: RuntimeWarning: invalid value encountered in scalar subtract
  V[j][k] += alpha * (2 * error_ij * U[i][k] - beta * V[j][k])

In [ ]:
R_rounded = np.round(R_filled)
R_rounded

In [1]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.layers import Input, Dense
from tensorflow.keras.models import Model

# Loading the raw data
df_raw = pd.read_excel('club_churn_train.xlsx')

# Preprocessing: Convert categorical columns to string type
categorical_cols = df_raw.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df_raw[col] = df_raw[col].astype(str)

# One-hot encoding for categorical columns
df_encoded = pd.get_dummies(df_raw)

# Splitting the data into train and test sets
train_data, test_data = train_test_split(df_encoded, test_size=0.2, random_state=42)

# Using only complete cases from train_data to train the autoencoder
train_data_complete = train_data.dropna()
test_data_complete = test_data.dropna()

# Scaling the data
scaler = MinMaxScaler()
train_data_scaled = scaler.fit_transform(train_data_complete)
test_data_scaled = scaler.transform(test_data_complete)

# Autoencoder architecture
input_layer = Input(shape=(train_data_scaled.shape[1],))
encoded = Dense(128, activation='relu')(input_layer)
encoded = Dense(64, activation='relu')(encoded)
decoded = Dense(128, activation='relu')(encoded)
output_layer = Dense(train_data_scaled.shape[1], activation='sigmoid')(decoded)

autoencoder = Model(input_layer, output_layer)
autoencoder.compile(optimizer='adam', loss='mean_squared_error')

# Training the autoencoder
autoencoder.fit(train_data_scaled, train_data_scaled, epochs=50, batch_size=256, shuffle=True, validation_data=(test_data_scaled, test_data_scaled))

2023-08-29 09:36:34.914660: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-08-29 09:36:35.102603: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-08-29 09:36:36.078788: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-08-29 09:36:36.158647: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-08-29 09:36:53.726899: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
/data/data_science/envs_python/dungpa/py39/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

NameError: name 'pd' is not defined